<%- include('header'); -%>


    <section id="main-content" class="container pt-4" style="background-color: #fff;">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Project Details</h3>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="content-panel">
                        <!-- <h4><i class="fa fa-angle-right"></i> Responsive Table</h4> -->
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <!-- <tr>
                                        <th>Code</th>
                                        <th>Company</th>
                                    </tr> -->
                                </thead>
                                <tbody>
                                    <% if(product.length!=0){ var i=1; product.forEach(function(data){ %>

                                        <tr>
                                            <td class="col-lg-4">
                                                Order ID
                                            </td>
                                            <td class="col-lg-8">
                                                <%=data.product_id %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4">Product category</td>
                                            <td class="col-lg-8">
                                                <%=data.product_type %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4">Product</td>
                                            <td class="col-lg-8">
                                                <%=data.product_name %>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-lg-4">Format</td>
                                            <td class="col-lg-8">
                                                <%=data.format_type %>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-lg-4">Use for</td>
                                            <td class="col-lg-8">
                                                <%=data.use_for %>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-lg-4">Placement</td>
                                            <td class="col-lg-8">
                                                <%=data.placement %>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-lg-4">Size</td>
                                            <td class="col-lg-8">
                                                <%=data.size %>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="col-lg-4">color</td>
                                            <td class="col-lg-8">
                                                <%=data.color %>
                                            </td>
                                        </tr>

                                        <div>
                                            <tr>
                                                <td class="col-lg-4">File</td>
                                                <td class="col-lg-8">
                                                    <% if(order.length!=0){ var i=1; order.forEach(function(or){ %>

                                                        <p>
                                                            <a class="btn-sm btn-primary"
                                                                href="/customer/fileupload/<%=or.file_name%>"
                                                                download>Download
                                                                File</a>
                                                            <%=or.file_name%>
                                                        </p>

                                                        <% i++;}) %>
                                                            <% }%>
                                                </td>
                                            </tr>
                                        </div>

                                        <tr>
                                            <td class="col-lg-4">Comments</td>
                                            <td class="col-lg-8">
                                                <%=data.additional_info%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-lg-4">Status</td>
                                            <td class="text-<%=data.text%>">
                                                <%=data.status%>
                                            </td>

                                        </tr>

                                        <% i++;}) %>
                                            <% }%>
                                </tbody>
                            </table>
                        </section>
                    </div><!-- /content-panel -->
                </div><!-- /col-lg-4 -->
            </div><!-- /row -->
        </section>
        <! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <%- include('footer'); -%>